{% extends 'answrs/base.html' %}

{% block content %}
<p>
    Answrs is the Day 5 of the <a href="http://www.7days7apps.com/">7days7apps.com</a> project. It is a Yahoo answers like site which allows you to ask questions and see their answers.
</p>
<p>
    Today I was hoping to use thumbnails with this application, allowing users to set a profile pic would have been a very useful and nice app. But alas that was not to be. I finally managed to get thubnails working,
    but then the edit image functionality stopped working. By then I had wasted a large part of the day, trying to get thumbnails to work, so meet the deadlines, we had to scrap images/thumbnails. :( . <a href="http://diveintomark.org/archives/2002/04/10/shipping_is_a_feature">Features are optional, shipping is mandatory.</a>
    If you are keen you can look into the thumbnail stuff I threw away at <a href="https://7days7apps.googlecode.com/svn/trunk/answers/">https://7days7apps.googlecode.com/svn/trunk/answers/</a>
</p>
{% endblock %}