{% extends 'answrs/base.html' %}

{% block content %}
<h2>{{user.username}}</h2>

<table>
    <tr>
        <th>
            Answers
        </th>
        <td>
            {{user.get_profile.answers}}
        </td>
    </tr>
    <tr>
        <th>
            Best Answers
        </th>
        <td>
            {{user.get_profile.best_answers}}
        </td>
    </tr>
    <tr>
        <th>
            Points
        </th>
        <td>
            {{user.get_profile.points}}
        </td>        
    </tr>
</table>
{% endblock %}