{% extends 'mytym/base.html' %}

{% block content %}
<div id="post">
    <div class="posthead">
        <h2>About MyTym</h2>
    </div>
    <p>
    MyTym is a personal time tracking application. It allows you to keep track of your time, and show where you use your time to cut throgh the clutter.
    Oh, and it got <strong>rounded corners</strong> too!<br />
    </p>
    <p>
        MyTym was built as a part of the <a href="http://www.7days7apps.com/">7days7apps.com</a> project, where we build 7 useful web apps in 7 days.
    </p>
    <p>
        The source for this is available at <a href="http://code.google.com/p/7days7apps/">Google code</a>
    </p>

</div>
{% endblock %}

